:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(100deg, #eef0f3 60%, #b8d7e6 60%);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #3a3a3a;
}

.logo {
  max-width: 50px;
  max-height: 80px;
  padding-bottom: 10px;
}

.name {
  color: #3a3a3a;
  text-shadow: 0 0 50px hsla(0, 0%, 0%, 0.4);
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0 20px 0;
}

.slider-box {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.carousel {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 650px;
}

.carousel-body {
  max-width: calc(100% - 300px);
  margin: 0 auto;
  height: 100%;
}

.arrow-box {
  width: 150px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
}

.arrow-box-left {
  left: 0;
}

.arrow-box-right {
  right: 0;
}

.arrow-container {
  text-align: center;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
  background-color: #2468a1;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.arrow-container:hover,
.btn-toggle:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.arrow {
  border: solid rgb(36, 35, 35);
  border-width: 0 11px 11px 0;
  display: inline-block;
  padding: 11px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: 17px;
  right: 12px;
}

.left {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 21px;
}

.btn-container {
  position: absolute;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55px;
}

.btn-toggle {
  box-sizing: border-box;
  height: 55px;
  border-color: transparent transparent transparent #2468a1;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  background-color: transparent;
  padding: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.play {
  border-style: solid;
  border-width: 32px 0 32px 55px;
}

.stop {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

.step {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome,
.one,
.two,
.three,
.four {
  width: inherit;
  min-width: 100%;
  height: 100%;
}

.welcome,
.one,
.two,
.three,
.four {
  background: url('../images/radissonPic.jpg') no-repeat center center;
}

.step h4 {
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  text-shadow: 0 0 50px hsla(0, 0%, 0%, 100ms);
  background-color: #484f56;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.map-box {
  justify-content: center;
  align-items: end;
}

#map {
  height: 500px;
  margin: 20px 20px;
  position: relative;
}

.rsvp-box {
  margin: 20px;
  min-width: 390px;
  width: 100%;
}

#status {
  box-shadow: inset 0 5px px hsla(0, 0%, 0%, 0.2);
}
.ouvert {
  color: white;
}

.display {
  display: initial;
}

.noDisplay {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

form input {
  margin: 10px 0px;
  background-color: #ffffff;
  border: none;
}

button .click {
  background-color: rgb(36, 35, 35);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
  font-size: 18px;
  text-align: center;
}

.map-box,
#map,
table {
  font-size: 1.2em;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: rgba(255, 255, 255, 0.845);
}

thead {
  text-align: center;
  padding: 10px;
  background-color: #2468a1;
  color: white;
}

table td {
  text-align: center;
}

.reservation {
  display: none;
}

.confirm,
.cancel,
#rsvp-btn {
  background-color: #2468a1;
  color: white;
}

.confirm,
.cancel,
#rsvp-btn {
  margin: 10px;
  padding: 10px;
  width: 25%;
}

.confirm:hover,
#rsvp-btn:hover {
  background-color: transparent;
  color: rgb(58, 58, 58);
}

.cancel:hover {
  background-color: rgba(210, 6, 6, 0.817);
  color: white;
}

.cancelRsv {
  color: white;
}

#draw,
form input {
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    0 0 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.currentRsvp {
  display: none;
  position: relative;
  background-color: #3a3a3a;
  color: white;
  text-align: center;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (max-width: 1098px) {
  .col-4 {
    min-width: 70%;
  }

  .col-7 {
    min-width: 70%;
  }
}

@media screen and (max-width: 655px) {
  .arrow-box {
    width: 93px;
  }

  .arrow-container {
    width: 50px;
    height: 50px;
  }

  .arrow {
    border-width: 0 8px 8px 0;
    padding: 6px;
    top: 15px;
    right: 14px;
  }

  .left {
    right: 17px;
  }

  .btn-toggle {
    height: 40px;
  }

  .btn-container {
    height: 39px;
  }

  .play {
    border-width: 22px 0 22px 37px;
  }

  .stop {
    border-width: 0px 0 0px 46px;
  }
}

@media screen and (max-width: 520px) {
  .col-4 {
    min-width: 100%;
  }

  .col-7 {
    min-width: 100%;
  }
}
